<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SBACloudDatabaseApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="ABCLogisticsCloudDatabaseApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="ABCLogisticsCloudDatabaseApp.Properties.Settings.FFMConnectionString"
            connectionString="Data Source=&quot;184.106.188.147, 1433&quot;;Initial Catalog=FFM;Persist Security Info=True;User ID=ABCLogisticsWebsite;Password=b4Uhg786"
            providerName="System.Data.SqlClient" />
        <add name="ABCLogisticsCloudDatabaseApp.Properties.Settings.ABCLogistics_GlobalConnectionString"
            connectionString="Data Source=184.106.188.147,1433;Initial Catalog=ABCLogistics_Global;Persist Security Info=True;User ID=ABCLogisticsWebsite;Password=b4Uhg786"
            providerName="System.Data.SqlClient" />
        <add name="SBACloudDatabaseApp.Properties.Settings.FFMConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=FFM;Persist Security Info=True;User ID=ABCLogisticsWebsite;Password=pwd"
            providerName="System.Data.SqlClient" />
        <add name="SBACloudDatabaseApp.Properties.Settings.ABCLogistics_GlobalConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=ABCLogistics_Global;Persist Security Info=True;User ID=ABCLogisticsWebsite;Password=pwd"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <applicationSettings>
        <SBACloudDatabaseApp.Properties.Settings>
            <setting name="ABCLogisticsCloudDatabaseApp_ABCLogisticsGlobalGeoWebServiceReference_GeoWebService"
                serializeAs="String">
                <value>https://www.abclogistics.com/abclogisticswebservices/geowebservice.asmx</value>
            </setting>
            <setting name="ABCLogisticsCloudDatabaseApp_ABCLogisticsDevFFMShipmentWebReference_ABCLogistics_GlobalShipment"
                serializeAs="String">
                <value>http://localhost/ABCLogisticsGlobalshipment/ABCLogistics_GlobalShipment.asmx</value>
            </setting>
        </SBACloudDatabaseApp.Properties.Settings>
        <ABCLogisticsCloudDatabaseApp.Properties.Settings>
            <setting name="ABCLogisticsCloudDatabaseApp_ABCLogisticsGlobalGeoWebServiceReference_GeoWebService" serializeAs="String">
                <value>https://www.sbaglobal.com/sbawebservices/geowebservice.asmx</value>
            </setting>
            <setting name="ABCLogisticsCloudDatabaseApp_ABCLogisticsDevFFMShipmentWebReference_ABCLogistics_GlobalShipment" serializeAs="String">
                <value>http://24.157.59.15/ABCLogisticsGlobalshipment/ABCLogistics_GlobalShipment.asmx</value>
            </setting>
        </ABCLogisticsCloudDatabaseApp.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
