################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HAWBUtilityTool/.vs/ABCLogisticsUtilityTools/v15/Server/sqlite3
/HAWBUtilityTool/ABCLogisticsUtilityToolBusinessLogic/bin
/HAWBUtilityTool/ABCLogisticsUtilityToolBusinessLogic/obj
/HAWBUtilityTool/ABCLogisticsUtilityTools/bin
/HAWBUtilityTool/ABCLogisticsUtilityTools/obj/x86
/HAWBUtilityTool/obj
/HAWBUtilityTool/.vs/ABCLogisticsUtilityTools/v15
/MapApp/.vs/ABCLogisticsMapApp/v15
/MapApp/ABCLogisticsCloudDatabaseApp/bin/Debug
/MapApp/ABCLogisticsCloudDatabaseApp/obj/x86
/MapApp/ABCLogisticsMapApp/bin
/MapApp/ABCLogisticsMapApp/obj/x86/Debug
