################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HAWBUtilityTool/.vs/ABCLogisticsUtilityTools/v15/Server/sqlite3
/HAWBUtilityTool/ABCLogisticsUtilityToolBusinessLogic/bin
/HAWBUtilityTool/ABCLogisticsUtilityToolBusinessLogic/obj
/HAWBUtilityTool/ABCLogisticsUtilityTools/bin
/HAWBUtilityTool/ABCLogisticsUtilityTools/obj/x86
/HAWBUtilityTool/obj
/HAWBUtilityTool/.vs/ABCLogisticsUtilityTools/v15
/MapApp/.vs/ABCLogisticsMapApp/v15
/MapApp/ABCLogisticsCloudDatabaseApp/bin/Debug
/MapApp/ABCLogisticsCloudDatabaseApp/obj/x86
/MapApp/ABCLogisticsMapApp/bin
/MapApp/ABCLogisticsMapApp/obj/x86/Debug
/TMS/.vs/TMS/v15/Server/sqlite3
/TMS/ABCLogisticsBusinessLogic/bin/Debug
/TMS/ABCLogisticsBusinessLogic/obj/Debug
/TMS/TMS/bin
/TMS/TMS/obj/Debug
/TMS/TMSBusinessLogic/bin/Debug
/TMS/TMSBusinessLogic/obj/Debug
/TMS/.vs/TMS/v15
/CarrierIntegration/.vs/CarrierIntegration/v15
/CarrierIntegration/CarrierDevApp/bin/Debug
/CarrierIntegration/CarrierDevApp/obj/x86/Debug
/CarrierIntegration/CarrierIntegrationCore/bin
/CarrierIntegration/CarrierIntegrationCore/obj/Debug
/CMS/.vs
/CMS/Backup
/CMS/Backup1
/CMS/Backup2
/CMS/CMS/bin
/CMS/CMS/Labels
/CMS/CMS/obj/Debug
*.suo
/CMS/CMS.DAL/bin/Debug
/CMS/CMS.DAL/obj/Debug
/CMS/CMS.DAL/CMS.DAL.csproj.user
/CMS/UpgradeLog.htm
/CMSMaster/CMSMaster/bin
/CMSMaster/CMSMaster/obj/Debug
/CMSMaster/CMSMaster.DAL/bin/Debug
/CMSMaster/CMSMaster.DAL/obj/Debug
/CMSMaster/CMSMaster.DAL/CMSMaster.DAL.csproj.vspscc
/CMSMaster/CMSMaster.DAL/CMSMaster.DAL.csproj.user
/CMSMaster/CMSMaster/CMSMaster.csproj.vspscc
/CMSMaster/CMSMaster/CMSMaster.csproj.user
/CMSMaster/CMSMaster_SL/Bin/Debug
/CMSMaster/CMSMaster_SL/obj/Debug
/CarrierIntegration/CarrierIntegrationCore/CarrierIntegrationCore.csproj.user
