<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="SBAMapApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="ABCLogisticsMapApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
    <connectionStrings>
        <add name="ABCLogisticsMapApp.Properties.Settings.ABCLogisticsShippingDB_TargetConnectionString"
            connectionString="Data Source=LENOVO3OF3;Initial Catalog=ABCLogisticsShippingDB_Target;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="SBAMapApp.Properties.Settings.MyTestDBConnectionString"
            connectionString="Data Source=LENOVO3OF3;Initial Catalog=MyTestDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="SBAMapApp.Properties.Settings.ABCLogisticsShippingDB_TargetConnectionString"
            connectionString="Data Source=LENOVO3OF3;Initial Catalog=ABCLogisticsShippingDB_Target;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ABCLogisticsMapApp.Properties.Settings.ABCDBConnectionString"
            connectionString="Data Source=LENOVO3OF3;Initial Catalog=ABCDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IGeocodeService" maxReceivedMessageSize="99999999" />
                <binding name="BasicHttpBinding_IRouteService" maxReceivedMessageSize="99999999" />
            </basicHttpBinding>
            <customBinding>
                <binding name="CustomBinding_IGeocodeService">
                    <binaryMessageEncoding/>
                    <httpTransport/>
                </binding>
                <binding name="CustomBinding_IRouteService">
                    <binaryMessageEncoding/>
                    <httpTransport/>
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://dev.virtualearth.net/webservices/v1/geocodeservice/GeocodeService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGeocodeService" contract="BingGeocodeServiceReference.IGeocodeService" name="BasicHttpBinding_IGeocodeService"/>
            <endpoint address="http://dev.virtualearth.net/webservices/v1/geocodeservice/GeocodeService.svc/binaryHttp" binding="customBinding" bindingConfiguration="CustomBinding_IGeocodeService" contract="BingGeocodeServiceReference.IGeocodeService" name="CustomBinding_IGeocodeService"/>
            <endpoint address="http://dev.virtualearth.net/webservices/v1/routeservice/routeservice.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRouteService" contract="BingRouteServiceReference.IRouteService" name="BasicHttpBinding_IRouteService"/>
            <endpoint address="http://dev.virtualearth.net/webservices/v1/routeservice/routeservice.svc/binaryHttp" binding="customBinding" bindingConfiguration="CustomBinding_IRouteService" contract="BingRouteServiceReference.IRouteService" name="CustomBinding_IRouteService"/>
        </client>
    </system.serviceModel>
  <log4net debug="true">
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Logs\AppLogs.log"/>
      <appendToFile value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="10MB"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5p %d %5rms %-22.22c{1} %-18.18M - %m%n"/>
      </layout>
    </appender>

    <root>
      <level value="DEBUG"/>
      <appender-ref ref="RollingLogFileAppender"/>
    </root>
  </log4net>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
