<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <connectionStrings>
    <add name="ABCLogisticsShippingDBEntities" connectionString="metadata=res://*/ABCLogisticsShippingModel.csdl|res://*/ABCLogisticsShippingModel.ssdl|res://*/ABCLogisticsShippingModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LENOVO3OF3;initial catalog=ABCLogisticsShippingDB_Target;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ABCLogisticsGlobalEntities" connectionString="metadata=res://*/ABCLogisticsGlobalModel.csdl|res://*/ABCLogisticsGlobalModel.ssdl|res://*/ABCLogisticsGlobalModel.msl;provider=System.Data.SqlClient;provider connection string='data source=&quot;173.12.35.106, 1433&quot;;initial catalog=ABCLogistics_Global;persist security info=True;user id=sa;password=v$123bv28;multipleactiveresultsets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <log4net debug="true">
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Logs\AppLogs.log"/>
      <appendToFile value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="100"/>
      <maximumFileSize value="20MB"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5p %d %5rms %-22.22c{1} %-18.18M - %m%n"/>
      </layout>
    </appender>

    <root>
      <level value="DEBUG"/>
      <appender-ref ref="RollingLogFileAppender"/>
    </root>
  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
