<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ABCLogisticsUtilityToolBusinessLogic.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="ABCLogisticsShippingDBEntities" connectionString="metadata=res://*/ABCLogisticsShippingModel.csdl|res://*/ABCLogisticsShippingModel.ssdl|res://*/ABCLogisticsShippingModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LENOVO3OF3;initial catalog=ABCLogisticsShippingDB_Target;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ABCLogisticsGlobalEntities" connectionString="metadata=res://*/ABCLogisticsGlobalModel.csdl|res://*/ABCLogisticsGlobalModel.ssdl|res://*/ABCLogisticsGlobalModel.msl;provider=System.Data.SqlClient;provider connection string='data source=&quot;173.12.35.106, 1433&quot;;initial catalog=ABCLogistics_Global;persist security info=True;user id=sa;password=v$123bv28;multipleactiveresultsets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <applicationSettings>
    <ABCLogisticsUtilityToolBusinessLogic.Properties.Settings>
      <setting name="PureStorageCustomerNo" serializeAs="String">
        <value>672457</value>
      </setting>
    </ABCLogisticsUtilityToolBusinessLogic.Properties.Settings>
  </applicationSettings>
</configuration>