<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CarrierIntegrationCore.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
  <connectionStrings>
    <add name="CarrierIntegrationCore.Properties.Settings.ABCLogisticsShippingDB_TargetConnectionString"
      connectionString="Data Source=localhost;Initial Catalog=ABCLogisticsShippingDB_Target;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
    <applicationSettings>
        <CarrierIntegrationCore.Properties.Settings>
            <setting name="CarrierIntegrationCore_CreatePickupWebReference_PickupService"
                serializeAs="String">
                <value>https://wsbeta.fedex.com:443/web-services</value>
            </setting>
            <setting name="CarrierIntegrationCore_CurrencyConverterWebReference_CurrencyConvertor"
                serializeAs="String">
                <value>http://www.webservicex.net/CurrencyConvertor.asmx</value>
            </setting>
            <setting name="CarrierIntegrationCore_RateServiceWebReference_RateService"
                serializeAs="String">
                <value>https://wsbeta.fedex.com:443/web-services/rate</value>
            </setting>
            <setting name="CarrierIntegrationCore_UPSRateWebReference_RateService"
                serializeAs="String">
                <value>https://wwwcie.ups.com/webservices/Rate</value>
            </setting>
            <setting name="CarrierIntegrationCore_UPSPickupWebReference_PickupService"
                serializeAs="String">
                <value>https://wwwcie.ups.com/webservices/Pickup</value>
            </setting>
        </CarrierIntegrationCore.Properties.Settings>
    </applicationSettings>
</configuration>